<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <ngb-carousel class="mx-auto" style="max-width: 400px;">
                <ng-template ngbSlide *ngFor="let image of product?.imageUrls">
                <img [src]="image" class="w-100 img-fluid" alt="{{product?.name}}">
                </ng-template>
            </ngb-carousel>
        </div>
        <div class="col-md-6">
            <div *ngIf="product?.sold" class="alert alert-danger text-center fw-bold" role="alert">
                ¡Producto Vendido!
            </div>
            <h1 class="fw-bold">{{product?.name}}</h1>
            <h5 class="text">Categoría: {{product?.category}}</h5>
            <h3 class="text-success">{{product?.price}}€</h3>
            <p class="text-muted">Publicado el {{product?.publishDate}}</p>
            <p>{{product?.description}}</p>
            <div class="d-grid gap-2">
                <div class="d-grid gap-2">
                    <ng-template [ngIf]="!product?.sold">
                        <ng-template [ngIf]="isOwner">
                            <button [routerLink]="'/editProduct/' + product?.id" type="submit" class="btn btn-custom w-100">
                                <i class="bi bi-pencil-fill m-2" style="color: white;"></i>Editar Producto
                            </button>
                            <form (ngSubmit)="deleteProduct()" method="post">
                                <button type="submit" class="btn btn-custom w-100">
                                    <i class="bi bi-x-lg m-2" style="color: white;"></i>Borrar Producto
                                </button>
                            </form>
                        </ng-template>
                        
                        <ng-template [ngIf]="isAdmin">
                            <form (ngSubmit)="deleteProduct()" method="post">
                                <button type="submit" class="btn btn-custom w-100">
                                    <i class="bi bi-x-lg m-2" style="color: white;"></i>Borrar Producto
                                </button>
                            </form>
                        </ng-template>

                        <ng-template [ngIf]="!isAdmin && !isOwner">
                            <form action="/chat/new/{{product?.id}}" method="POST">
                                <button type="submit" class="btn btn-custom w-100">
                                    <i class="bi bi-chat-fill m-2"></i>Contactar con el vendedor
                                </button>
                            </form>
                            <ng-container *ngIf="!isFavorite">
                                <button (click)="addToFavorites()" class="btn btn-custom w-100">
                                    <i class="bi bi-heart m-2" style="color: white;"></i>Añadir a favoritos
                                </button>
                            </ng-container>
                            <ng-container *ngIf="isFavorite">
                                <button (click)="removeFromFavorites()" class="btn btn-custom w-100">
                                    <i class="bi bi-heart-fill m-2" style="color: white;"></i>Eliminar de favoritos
                                </button>
                            </ng-container>
                        </ng-template>

                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
    <app-profile-preview *ngIf="product?.owner?.id" [userId]="product?.owner?.id"></app-profile-preview>
    <hr>

    <app-report-form *ngIf="product?.id && (product?.owner?.id!==1) && !isAdmin && !isOwner && hasBoughtProduct" [productId]="product?.id"></app-report-form>

    <app-review-form *ngIf="product?.owner?.id && (product?.owner?.id!==1) && !isAdmin && !isOwner && hasBoughtUser" [reviewedUserId]="product?.owner?.id"></app-review-form>
    
    <app-review-list *ngIf="product?.owner?.id" [userId]="product?.owner?.id"></app-review-list>
    <br>
    <br>

</div>