<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/homeStyle.css">
    <link rel="icon" type="image/x-icon" href="../public/favicon.ico">
    <title>ByteMarket</title>
</head>

<body>
    <header class="bg-dark py-2">
        <div class="container-fluid px-0">
            <div class="row align-items-center headerContainer">
                
                <div class="col-2 d-flex align-items-center text-white header-logo"> <!-- Añadido clase header-logo -->
                    <img src="../public/favicon.ico" alt="Logo" width="40" height="40" class="me-2">
                    <h5 class="fw-bolder mb-0">ByteMarket</h5>
                </div>
    
                <div class="col-5">
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
                        <button class="btn btn-outline-dark btn-custom" type="submit">Buscar</button>
                    </form>
                </div>
    
                <div class="col-2 d-flex justify-content-center">
                    <button class="btn btn-outline-dark btn-custom w-75 favourite" type="button">
                        <i class="bi bi-heart me-2" style="color: orange;"></i>
                        FAVORITOS
                    </button>
                </div>
                
                <div class="col-2 d-flex justify-content-center">
                    <button class="btn btn-outline-dark btn-custom w-75 sell" type="button">
                        <i class="bi me-2"></i>
                        + VENDER
                    </button>
                </div>
    
                <div class="col-1 d-flex justify-content-center align-items-center header-profile"> <!-- Añadido clase header-profile -->
                    <img src="../public/perfil.png" alt="Logo" width="55" height="55">
                </div>                
            </div>
        </div>
    </header>

    <footer class="bg-dark text-white text-center py-2 fixed-bottom">ByteMarket</footer>

</body>

</html>