.container{
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
}
.form{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding: 5%;
    background-color: #777;
    font-weight: bold;
    border-radius: 0.8em;
    z-index: 1; /* To prevent an element from overlapping with another */
}
/* #map{
    width: 100%;
    border-radius: 0.8em;
    margin-bottom: 5px;
} */

.btn-custom {
    background-color: #d35400; 
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-custom:hover {
    background-color: #823400;
    color: white;
}
/* Ensures that the footer is always at the bottom */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Adjusts the footer to be at the bottom */
#footer {
    margin-top: auto; /* Pushes the footer to the bottom */
}

/* Form error fields display control */
.ocult{
    display: none;
}
.error{
    margin-top: 5px;
    margin-bottom: 5px;
    color:#fff;
    font-size: 0.7rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 
               0 0 10px #fff,
               0 0 5px #fff;
}