.otherProdContainer{
    padding-left: 3%;
    padding-right: 3%;
    max-width: 100%;
}

.otherProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.otherProduct{ 
    margin-bottom: 20px;
    max-width: 25%;
    min-width: 175px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}