<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5 navbarContent">
    <!-- Button to go back to the home page without reload -->
    <a class="navbar-brand" role="button" (click)="selectCategory('')" [routerLink]="[profileScreen ? '/profile' : '/']">{{ profileScreen ? 'Perfil' : 'Inicio' }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav #nav="ngbNav" class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li ngbNavItem *ngIf="!profileScreen">
          <a ngbNavLink (click)="selectCategory('Móviles')" [class.active]="selectedCategory === 'Móviles'" [routerLink]="['']" [queryParams]="{filter: 'moviles'}">Móviles</a>
        </li>
        <li ngbNavItem *ngIf="!profileScreen">
          <a ngbNavLink (click)="selectCategory('Ordenadores')" [class.active]="selectedCategory === 'Ordenadores'" [routerLink]="['']" [queryParams]="{filter: 'ordenadores'}">Ordenadores</a>
        </li>
        <li ngbNavItem *ngIf="!profileScreen">
          <a ngbNavLink (click)="selectCategory('Auriculares')" [class.active]="selectedCategory === 'Auriculares'" [routerLink]="['']" [queryParams]="{filter: 'auriculares'}">Auriculares</a>
        </li>
        <li ngbNavItem *ngIf="!profileScreen">
          <a ngbNavLink (click)="selectCategory('SmartWatches')" [class.active]="selectedCategory === 'SmartWatches'" [routerLink]="['']" [queryParams]="{filter: 'smartwatches'}">SmartWatches</a>
        </li>
        <li ngbNavItem *ngIf="!profileScreen">
          <a ngbNavLink (click)="selectCategory('Otros')" [class.active]="selectedCategory === 'Otros'" [routerLink]="['']" [queryParams]="{filter: 'otros'}">Otros</a>
        </li>
        <li ngbNavItem *ngIf="profileScreen && isOwner">
          <a ngbNavLink (click)="selectCategory('favorites')" [class.active]="selectedCategory === 'favorites'" [routerLink]="['/profile']" [queryParams]="{filter: 'favorites'}">Favoritos</a>
        </li>
        <li ngbNavItem *ngIf="profileScreen && !isOwner && userId">
          <a ngbNavLink (click)="selectCategory('reviews')" [class.active]="selectedCategory === 'reviews'" [routerLink]="['/profile', userId]" [queryParams]="{filter: 'reviews'}">Reseñas</a>
        </li>
        <li ngbNavItem *ngIf="profileScreen && isOwner">
          <a ngbNavLink (click)="selectCategory('historyPurchase')" [class.active]="selectedCategory === 'historyPurchase'" [routerLink]="['/profile']" [queryParams]="{filter: 'historyPurchase'}">Últimas compras</a>
        </li>
        <li ngbNavItem *ngIf="profileScreen && isOwner">
          <a ngbNavLink (click)="selectCategory('historySales')" [class.active]="selectedCategory === 'historySales'"  [routerLink]="['/profile']" [queryParams]="{filter: 'historySales'}">Últimas ventas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div [ngbNavOutlet]="nav"></div>
