<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5 navbarContent">
    <a class="navbar-brand" href="/" (click)="selectCategory('')">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul ngbNav #nav="ngbNav" class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li ngbNavItem>
          <a ngbNavLink (click)="selectCategory('Móviles')">Móviles</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink (click)="selectCategory('Ordenadores')">Ordenadores</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink (click)="selectCategory('Auriculares')">Auriculares</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink (click)="selectCategory('SmartWatches')">SmartWatches</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink (click)="selectCategory('Otros')">Otros</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div [ngbNavOutlet]="nav"></div>
