<header class="bg-dark py-2">
    <div class="container-fluid px-0">
        <div class="row align-items-center headerContainer">

            <div class="col-2 d-flex align-items-center text-white header-logo">
                <a href="/" class="d-flex align-items-center text-white text-decoration-none">
                    <img src="/images/favicon.ico" alt="Logo" width="40" height="40" class="me-2">
                    <h5 class="fw-bolder mb-0">ByteMarket</h5>
                </a>
            </div>

            {{^logged}}  <!-- Usuario NO autenticado -->
            <div class="col-7 searchContainer">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
                    <button class="btn btn-outline-dark btn-custom" type="submit" title="Buscar">
                        <i class="bi bi-search" style="color: white;"></i>
                    </button>
                </form>
            </div>
            <div class="col-3 loginButtons">
                <a href="../login" style="text-decoration: none;">
                    <button class="btn btn-outline-dark btn-custom" type="submit">
                        <i class="bi-person-fill me-1"></i> Iniciar sesión o registrarse
                    </button>
                </a>
            </div>
            {{/logged}}

            {{#admin}} <!-- Header para ADMINISTRADOR -->
            <div class="col-6 searchContainer">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
                    <button class="btn btn-outline-dark btn-custom" type="submit" title="Buscar">
                        <i class="bi bi-search" style="color: white;"></i>
                    </button>
                </form>
            </div>
            <div class="col-2 loginButtons justify-content-end">
                <a href="../reports" style="text-decoration: none;">
                    <button class="btn btn-outline-dark btn-custom" type="submit">
                        <i class="bi bi-flag-fill"></i> Reportes
                    </button>
                </a>
            </div>
            <div class="col-3 header-profile" height="55">
                <a href="../profile" class="d-flex align-items-center text-decoration-none">
                    <div>
                        {{#image}}
                        <img class="profilePic" src="/user/{{id}}/image" alt="pfp">
                        {{/image}}
                        {{^image}}
                        <img class="profilePic" src="/images/default_pfp.jpg" alt="pfp">
                        {{/image}}
                    </div>
                    <div>
                        <p class="text-white fw-bolder mb-0">{{userName}}</p>
                    </div>
                </a>
            </div>
            {{/admin}}

            {{#logged}} <!-- Header para USUARIO (solo si NO es admin) -->
            {{^admin}}
            <div class="col-6 searchContainer">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Buscar">
                    <button class="btn btn-outline-dark btn-custom" type="submit" title="Buscar">
                        <i class="bi bi-search" style="color: white;"></i>
                    </button>
                </form>
            </div>
            <div class="col-3 m-0 justify-content-center headerButtons">
                <div>
                    <button class="btn btn-outline-dark btn-custom headerButton" type="button"
                        onclick="window.location.href='/profile?filter=favorites'">
                        <i class="bi bi-heart-fill" style="color: white;"></i>
                        <span class="fav-sellText">Favoritos</span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-custom headerButton" type="button"
                        onclick="window.location.href='/newProduct'">
                        <i class="bi bi-plus-lg"></i>
                        <span class="fav-sellText">Vender</span>
                    </button>
                </div>
                <div>
                    <button class="btn btn-outline-dark btn-custom headerButton" type="button"
                        onclick="window.location.href='/chats'">
                        <i class="bi bi-chat-fill"></i>
                        <span class="fav-sellText">Chats</span>
                    </button>
                </div>
            </div>
            <div class="col-2 header-profile" height="55">
                <a href="/profile" class="d-flex align-items-center text-decoration-none">
                    <div>
                        {{#image}}
                        <img class="profilePic" src="/user/{{id}}/image" alt="pfp">
                        {{/image}}
                        {{^image}}
                        <img class="profilePic" src="/images/default_pfp.jpg" alt="pfp">
                        {{/image}}
                    </div>
                    <div>
                        <p class="text-white fw-bolder mb-0">{{userName}}</p>
                    </div>
                </a>
            </div>
            {{/admin}}
            {{/logged}}

        </div>
    </div>
</header>
