{{#reviews}}
<div class="container mt-1">
    <h2 class="fw-bolder mb-3">Reseñas</h2>
</div>
<div class="container mt-4">
    <div class="row">
        {{#reviewStars}}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{owner}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p><span class="text-warning">
                            {{#stars}}
                            <i class="bi bi-star-fill"></i>
                            {{/stars}}
                            {{#emptyStars}}
                            <i class="bi bi-star"></i>
                            {{/emptyStars}}
                        </span> - {{rating}}/5</p>

                    {{#admin}}
                    <form action="/review/{{id}}/delete" method="post">
                        <input type="hidden" name="_csrf" value="{{token}}" />
                        <button type="submit" class="btn btn-danger btn-sm" title="Delete review">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>
                    {{/admin}}
                </div>
            </div>
        </div>
        {{/reviewStars}}
    </div>
</div>
{{/reviews}}

{{^reviews}}
<div class="container mt-1">
    <h2 class="fw-bolder mb-2">Reseñas</h2>
</div>
<div class="text-center">
    <h3 class="py-4 mb-4 defaultText">No ha recibido reseñas aún</h3>
</div>
{{/reviews}}