<section>
    <div class="container otherProdContainer">
        <div class="">
            <h2 class="fw-bolder mb-3">{{title}}</h2>
        </div>
        <div class="row otherProducts">
            {{#show_products}}
            <div class="otherProduct col-3">
                <a href="/product/{{id}}" style="text-decoration: none;">
                    <div class="productCard card h-100">
                        <img class="card-img-top" src="{{image}}" alt="{{name}}" />
                        <div class="card-body p-4">
                            <div class="text-center">
                                <h5 class="fw-bolder">{{name}}</h5>
                                {{price}}€
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{/show_products}}
        </div>
    </div>
</section>