<div class="container py-5">
    <div class="profile-container text-center">
        <h2 class="mb-4">Editar Perfil</h2>

        <form class="form" enctype="multipart/form-data" #profilePicForm="ngForm">
            <div class="profile-pic-wrapper">
                <label for="profilePicInput">
                    <ng-container *ngIf="currentUser?.hasImage; else noImage">
                        <img class="profile-pic mb-3" [src]="currentUser.image" alt="pfp" />
                    </ng-container>
                    <ng-template #noImage>
                        <img class="profile-pic mb-3" src="assets/images/default_pfp.jpg" alt="pfp" />
                    </ng-template>
                    <span class="edit-icon">
                        <i class="bi bi-upload"></i>
                    </span>
                </label>
                <input type="file" id="profilePicInput" class="file-input" name="profilePicInput"
                    accept="image/jpeg, image/png, image/jpg" (change)="onFileSelected($event)" />
            </div>
        </form>

        <!-- User Data Form -->
        <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3 text-start">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="name" title="Usuario" />
                <div *ngIf="validName === 1" class="text-danger">El nombre no puede estar vacío.</div>
                <div *ngIf="validName === 2" class="text-danger">El nombre es demasiado largo (máximo 16 caracteres).</div>
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Correo</label>
                <input type="email" class="form-control" [value]="userEmail" title="Correo" name="mail" disabled />
                <div *ngIf="validEmail === 1" class="text-danger">El correo no puede estar vacío.</div>
                <div *ngIf="validEmail === 2" class="text-danger">El correo no es válido.</div>
            </div>

            <div *ngIf="!isAdmin" class="mb-3 text-start">
                <h2>Selecciona una ubicación</h2>
                <div id="map" style="z-index: 0;"></div>
                <input type="hidden" formControlName="iframe" id="iframeCode" />
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Nueva Contraseña</label>
                <input type="password" class="form-control" formControlName="newPass" title="Contraseña" />
                <div *ngIf="validPassword === 1" class="text-danger">La contraseña no puede estar vacía.</div>
            </div>

            <div class="mb-3 text-start">
                <label class="form-label">Confirmar Contraseña</label>
                <input type="password" class="form-control" formControlName="repeatPass" title="Contraseña" />
                <div *ngIf="validPassword === 2" class="text-danger">Las contraseñas no coinciden.</div>
            </div>
            <section *ngIf="!shouldShowDeleteConfirmation()">
            <button type="submit" class="btn btn-custom w-100 mb-2" [disabled]="form.invalid">
                Guardar Cambios
            </button>
            <button type="button" class="btn btn-custom w-100 mb-2" (click)="openDeleteConfirmation()">
                Eliminar Cuenta
            </button>
            </section>
        </form>
        <div *ngIf="shouldShowDeleteConfirmation()" class="modal-overlay">
            <div class="modal-content">
                <h4>¡Atención!</h4>
                <p>Esta acción es irreversible. ¿Estás seguro de que deseas eliminar tu cuenta?</p>
                <div class="d-flex justify-content-center gap-3">
                    <button class="btn btn-danger" (click)="deleteOwnAccount()">Aceptar</button>
                    <button class="btn btn-secondary" (click)="closeDeleteConfirmation()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>
